spring:
  datasource:
    url: jdbc:mysql://${DEFAULT_MYSQL_HOST}:${DEFAULT_MYSQL_PORT}/${DEFAULT_MYSQL_DATABASE}?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
    username: ${DEFAULT_MYSQL_USERNAME}
    password: ${DEFAULT_MYSQL_PASSWORD}
server:
  port: ${DEFAULT_APPLICATION_PORT}
  error:
    include-stacktrace: always
application:
  security:
    jwt:
      secret-key: ${DEFAULT_JWT_SECRET_KEY}
      refresh-token-expiration: ${DEFAULT_REFRESH_TOKEN_EXPIRATION} # [ms]
      access-token-expiration: ${DEFAULT_ACCESS_TOKEN_EXPIRATION} # [ms]